#ke-build-debug  Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore IDE files
.idea/
.vscode/
*env/

# Ignore build output
build/
dist/
target/
cmake-build-debug/
wheelhouse/

# Ignore logs
logs/
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore database files
*.db
*.sqlite

# Ignore node_modules directory
node_modules/
