name: Build and Deploy Documentation

on:
  push:
    branches:
      - master
  release:
    types: [published]
  workflow_dispatch:

jobs:
  python-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install mkdocs

      - name: Build
        run: |
          cd docs/python
          mkdocs build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/python/site
          branch: gh-pages
          target-folder: docs/python

          
  cpp-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Install Doxygen
        run: sudo apt-get install -y doxygen graphviz
        
      - name: Configure CMake
        run: cmake -B build
        
      - name: Generate Doxygen documentation
        run: cmake --build build --target docs
        
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/html
          branch: gh-pages
          target-folder: docs/cpp